form {
  width: 100%;
}

form > input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

.del_items_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: solid 2px black;
}
.del_items_block div {
  width: 100%;
  text-align: center;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

.add_button {
  padding: 5px 50px;
  border-radius: 10px;
  background: rgb(237, 6, 237);
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0;
  transition: all 0.5s;
  border: 1px solid purple;
}
.add_button:hover {
  background: #202020;
  border: 1px solid purple;
  transition: all 0.5s;
}
.input {
  margin: 10px 0;
  border-radius: 10px;
  background: rgb(237, 6, 237);
  color: #ffff;
  font-weight: 600;
  border: none;
  width: 100%;
  padding: 10px 0;
  text-indent: 15px;
  transition: all 0.5s;
  border: solid 1px rgb(237, 6, 237);
}

.input:focus {
  background: none;
  transition: all 0.5s;
}

.input::placeholder {
  color: rgb(227, 226, 226);
}

.buttons_blog {
  width: 100%;
  text-align: center;
}
.buttons_blog button {
  padding: 5px 50px !important;
  margin: 1rem;
  border-radius: 10px;
  background: rgb(237, 6, 237);
  color: #ffff;
  font-weight: 600;
  border: 1px solid purple;
}
.buttons_blog button:hover {
  background: #202020;
  border: 1px solid purple;
  transition: all 0.5s;
}

.th_body:hover {
  background-color: rgb(209, 146, 209);
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
.th_bodys {
  background-color: rgb(209, 146, 209);
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}
.th_bodys > td {
  width: 50px !important;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  min-width: 200px !important;
}
.th_body td {
  width: 50px !important;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  min-width: 200px !important;
}
.theadd {
  background: purple;
}

.theadd > tr > th {
  width: 50px !important;
  padding: 10px;
  text-align: center;
  min-width: 200px !important;
  border: 1px solid rgb(255, 255, 255);
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.table {
  width: 100%;
}
.tr_form td:hover {
  background: none !important;
}
.tr_form form {
  margin: 15px 0;
}
.edit_button {
  padding: 5px 50px;
  border-radius: 10px;
  background: rgb(237, 6, 237);
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0;
  transition: all 0.5s;
  border: 1px solid purple;
}
.edit_button:hover {
  background: #202020;
  border: 1px solid purple;
  transition: all 0.5s;
}
